@import "../../app.scss";

.parallax {
  background: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 100px;
    font-size: 7rem;
    z-index: 2;
    padding: 1rem 0;
    text-align: center;

    @include mobile {
      font-size: 5rem;
      text-align: center;
    }
  }

  .mountains {
    background-image: url("/mountainimg.png");
    background-size: cover;
    background-position: bottom;
    // background: linear-gradient(#0c0c1d,#0c0c1d, #0c0c1d);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  // .planets {
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   // background-position: 0rem -6rem;
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   z-index: 2;

  //   @include tablet{
  //     background-size: 100%;
  //     background-position: 0rem 0rem;
  //   }

  //   @include mobile {
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //   }
  // }

  .planets {
    position: absolute;
    top: 10vh;
    left: 15vw;
    width: 15vmax;
    z-index: 2;
    @include tablet{
      top: 14vh;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .mountain {
    background-image: url("/mountain2.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }
}